---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>about</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
		<h1>about me</h1>
        <h2> ... and my new astro site!</h2>
        <p>i 哈哈哈哈哈哈哈，这是一个中文</p>
        <p>go go </p>
	</body>
</html>
